@model IEnumerable<Projekt1_Podorozhnyi_50402.Models.User>

<h2>User List</h2>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Email</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Acces</a>
        </td>
    </tr>
    }
</table>
