@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Log out" />
    </form>
}
else
{
    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Login">Log in</a>

    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Register">Create account</a>
}
