@model Projekt1_Podorozhnyi_50402.ViewModels.OpenUserViewModel

@{
    ViewBag.Title = "UserAccount";
}

<form asp-action="Open" asp-controller="Users">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <p>@User.Identity.Name</p>

    @*<table class="table">
            <tr><th>Email</th></tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>

                </tr>
            }
        </table>*@

</form>

